@media (max-width: 575.98px) {
    h1 {
        font-size: 1.3rem;
    }

    h6 {
        font-size: .55rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   
}


@media (min-width: 768px) and (max-width: 991.98px) {
   
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   
}

@media (min-width: 1200px) {
    
}

.section {
    min-height: calc(100vh - 50px);
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 70px;
}

.contentsDiv {
    width: 100%;
}

.sectionTitle {
    margin-bottom: 30px;
}

.hide {
    transform: translateX(-100%);
}

.show {
    transform: translateX(0%);
}
